h1{
    margin-left: 0px;
    
    text-align: center;
   
    border-style: double;
    border-color: blanchedalmond;
    border-left: 100%;
}



body{
    
    
    background-image:url(cat.jpg);
    background-size:cover;
    text-shadow: 3px 3px 5px;
    color:aqua
    


}
.bd{
    margin-left: 550px;
    
}
